/node_modules/*

# Ignore transpiled output
/actions.js
/lib/reducers.js
/lib/reducers/*
/selectors.js
/selectors/*
/lib/client_runtime.js
/lib/client_state_loader.js
/lib/dom_scanner.js
/lib/server_runtime.js
/lib/penguin.js
/lib/state.js
index.js
/link.js
/inplace.js
/saved_indicator.js
/save_button.js
